body {
    background: black;
    color: white;
    margin-top: 70px; /* Ajuste para compensar a altura do cabeçalho */
}

header {
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.col-2 img {
    width: 100px;
}

.menu_list {
    list-style: none;
    padding-left: 0;
    margin-top: 7px;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}

.menu_list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

/* Estilos para as seções de Destaque e Categorias */
.destaque, .categorias {
    margin-top: 70px; /* Ajuste para compensar a altura do cabeçalho */
    padding: 20px;
}

.destaque h2, .categorias h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Rodapé */
footer {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
}

/* Cards */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    margin: auto;
    background: #333; 
    border: 1px solid #555; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 20rem;
    height: 200px;
    margin: 15px;
    border-radius: 15px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    color: #fff; /* Cor do título */
}

.card-text {
    color: #ddd; /* Cor do texto do card */
}

.btn-primary {
    background-color: #007bff; /* Cor do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
