body {
    background: black;
    color: white;
    margin-top: 70px; /* Ajuste para compensar a altura do cabeçalho */
}

header {
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.col-2 img {
    width: 100px;
}

.menu_list {
    list-style: none;
    padding-left: 0;
    margin-top: 7px;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}

.menu_list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
}