/* Media Query para Notebooks e Desktops*/

@media only screen and (min-width: 768px){
    /*header*/
.icone i{
    display: none;
}


}

/* Media Query Mobile */
@media screen and (min-width:320px) and (max-width:900px){
    /*header*/
    
.menu_list{
    display: none;
}

.icone i{
    font-size: 1.7rem;
    position: absolute;
    right: 1%;
    margin: 0, 25px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.hidden-menu{
    display: none;
}

.hidden-menu.show-menu {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    position: absolute;
    right: 0;
    margin: 30px 0;
    padding: 10px;
    flex-direction: column;
    background: black;
    width: 100px;
    border-radius: 10px;
    box-shadow: -4px 4px 5px rgb(90, 90, 90)
}

.hidden-menu.show-menu li{
    font-size: 1.1rem;
}

footer{
    font-size: 0.7rem;
}

/*home*/

.card{
    width: 20rem;
}
/*curriculo*/

.info .perfil{
    width: 50px;
}

.info .nome{
    font-size: 1.2rem;
}

.info-card{
    justify-content: center;
    flex-direction: column;
}

/*Projetos*/
.gallery{
    grid-template-columns: repeat(1, 1fr); /* Alterado para tres colunas */
    gap: 20px;
}

.car img{
    width: 2rem;
}
}